<%=link_to user_post_path(@user, post) do %>
  <div class="post">
    <h3><%= post.title %></h3>
    <p><%= post.text %></p>
    <p class='post-total'>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %> </p>
  </div>
<% end %>
