<h1>Blog App</h1>

<main class='user-cont2'>
  <div class="post-in-show">
    <div class="post-in-show2">
      <h3><%= @post.title %> by <%= @post.author.name %></h3>
      <p>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>
    </div>
    <p><%= @post.text %></p>
  </div>
  <div class="comment-container">
    <% @post.comments.each do |comment| %>
      <%= render 'partials/comment', comment: comment %>
    <% end %>
  </div>
</main>
